# Fill in all the blank keys below with your own values

DIGITALOCEAN_TOKEN=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_ENDPOINT=sfo2.digitaloceanspaces.com
AWS_DEFAULT_REGION=us-east-1

TF_BUCKET=aosp-build
TF_KEY=production/terraform.tfstate

TF_VAR_HOME=/home/build
TF_VAR_GITHUB_CLIENT_ID=
TF_VAR_GITHUB_CLIENT_SECRET=
TF_VAR_DRONE_TLS_AUTOCERT=false
TF_VAR_DRONE_GITHUB_SERVER=https://github.com
TF_VAR_DRONE_RPC_SECRET=
TF_VAR_DRONE_SERVER_HOST=aosp-build.example.com
TF_VAR_DRONE_SERVER_PROTO=https
